<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Petland Admin">
    <test name="Setup">
        <classes>
            <class name="test.SetupTest"/>
        </classes>
    </test>
    <test name="Login Page">
        <classes>
            <class name="test.TestLoginPage"/>
        </classes>
    </test>
    <test name="User Page">
        <classes>
            <class name="test.TestUserPage"/>
        </classes>
    </test>
    <test name="Category Page">
        <classes>
            <class name="test.TestCategoryPage"/>
        </classes>
    </test>
    <test name="Subcategory Page">
        <classes>
            <class name="test.TestSubCategoryPage"/>
        </classes>
    </test>
    <test name="Post Page">
        <classes>
            <class name="test.TestPostPage"/>
        </classes>
    </test>
</suite>
