<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Petland Admin">
    <test name="Login Page">
        <classes>
            <class name="test.SetupTest"/>
            <class name="test.TestLoginPage"/>
            <class name="test.TestUserPage"/>
            <class name="test.TestCategoryPage"/>
            <class name="test.TestSubCategoryPage"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
